/* CSS RESET */
* {
    padding: 0;
    margin: 0;
}
/* SET PROJECT WIDTH */
.container {
    width: 800px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.nav, ul {
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
}
.nav {
    background-color: rgb(63, 62, 62);
}
.nav-links {
    list-style: none;
}
li {
    margin-left: 20px;
}
a {
    justify-content: flex-end;
    font-size: 14px;
    color: white;
    text-decoration: none;

}
a:hover, a:active {
    font-weight: 600;
}
.btn {
    background-color:rgb(116, 221, 240);
    color: white;
    border-color: black;
    border-width: 3px;
    border-radius: 3px;
    font-size: 14px;
    box-shadow: 2px 2px black;
    padding: 5px;
}
